html {
  box-sizing: border-box;
}

html,
body {
  --lightGrey: rgb(244, 244, 244);
  --white: rgb(255, 255, 255);
  --darkGrey: rgb(36, 36, 36);
  --black: rgb(19, 19, 19);
  --ligthGray: rgb(147, 141, 141);
  --crame: rgb(240, 240, 238);

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: 'Inter', sans-serif;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* rest of your styles; like: */
body {
  font-size: 0.875em;
}

.list-title {
  color: var(--black);
  font-size: large;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li del {
  text-decoration: none;
}

.do-list {
  display: flex;
  background-color: var(--crame);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.list-input {
  border: none;
  padding: 0;
}

.form-container {
  display: flex;
  width: 80vw;
  margin: 5%;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgb(124, 124, 124);
}

.form-container > * {
  margin: 0;
}

input[type='checkbox']:checked ~ del {
  text-decoration: line-through;
}

.task {
  display: flex;
  width: 99%;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.task-text {
  width: 100%;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.check-box {
  margin-right: 1%;
  padding-top: 1%;
}

.complete-btn {
  border: none;
  height: 8vh;
  background-color: rgb(224, 220, 212);
  color: #888;
  margin: 0;
}

.list-line {
  border: 0;
  width: 100%;
  background-color: gray;
  height: 1px;
  margin-left: 0;
  margin-bottom: 0;
}

.icon-container {
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.edit-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.trash {
  display: none;
}

.hide {
  display: none;
}

.edit-mode {
  background-color: rgb(255, 255, 211);
  color: black;
}

.edit-icon::after {
  content: '\2807';
  font-size: 23px;
}

.add-btn,
.complete-btn,
.trash-btn,
.refresh {
  cursor: pointer;
}
